.book-element{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 30px;
    align-items: center;

    &-img {
        width: 200px;
        // height: 310px;
    }
    a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    }
}

.book-no-img{
    background: rgba(129, 149, 155, 0.9);
    border: 1px double black;
    text-align: center;
    padding: 30px 15px 10px;
    width: 250px;
    height: 350px;
    color: black;
    font-size: 25px;
}

@media screen and (min-width: 768px){
    .book-element{
        width: 45%;
    }
}

@media screen and (min-width: 1024px){
    .book-element{
        width: 30%;
    }
}