.book-element{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 30px;
    align-items: center;

    &-img {
        width: 200px;
        // height: 310px;
    }
    a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    }
}

.book-no-img{
    background: rgba(129, 149, 155, 0.9);
    border: 1px double black;
    text-align: center;
    padding: 30px 15px 10px;
    width: 250px;
    height: 350px;
    color: black;
    font-size: 25px;
}

.books-search{
    width: 100%;
    margin-bottom: 20px;

    input{
        width: 250px;
        padding: 10px 5px; 
        border: 1px solid rgb(209, 107, 170);
        margin-right: 30px; 
        font-size: 18px;
    }

    label{
        margin-right: 10px;
        text-transform: uppercase;
    }
    select{
        width: 40px;
        height: 30px;
        border: 1px solid rgb(209, 107, 170);
        margin-right: 20px;
    }
    button{
        padding: 10px 5px;
        border: 1px solid rgb(209, 107, 170);
        text-transform: uppercase;
        font-weight: 600;
    }
}

.border{
    border-color: red;
}

@media screen and (min-width: 768px){
    .book-element{
        width: 45%;
    }
}

@media screen and (min-width: 1024px){
    .book-element{
        width: 30%;
        min-height: 550px;
    }
}